
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Unwire Shirts!</h1>
        <p class="lead">You might not know it, but Unwire has some really fancy shirts!</p>
    </div>
</div>

<div *ngIf="!error" class="container">
    <app-shirt-list [shirts]="shirts"></app-shirt-list>
</div>

<div *ngIf="error" class="container">
    :( {{ error }}
</div>
