
<div class="container">

    <div *ngIf="isLoading && !error">
        Loading
    </div>

    <div *ngIf="!isLoading && !error">
        <div class="row">
            <div class="col img-container">
                <img [src]="shirt.picture" class="rounded">
            </div>
            <div class="col-8">
                <h2>{{ shirt.name }}</h2>
                <span class="badge badge-pill badge-default">{{ shirt.size }}</span>
                <span class="badge badge-pill badge-default">{{ shirt.colour }}</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem voluptatum, expedita aperiam eveniet tenetur? Blanditiis a aliquid dolorum perspiciatis. Eius culpa itaque delectus saepe labore nulla eaque dicta cumque, molestias.</p>
                <p>DKK {{ shirt.price }} kr -.</p>
            </div>
        </div>
    </div>

    <div *ngIf="error">
        :( {{ error }}
    </div>
</div>
