app-shirt-details {

    .container {
        margin-top: 10px;
    }

    .img-container {
        border-right: 1px solid gray;
        text-align: center;
    }

    p {
        margin-top: 5px;
    }
}
