<table class="table table-hover table-bordered table-compact">
    <thead class="thead-inverse">
        <tr>
            <th></th>
            <th>Name</th>
            <th><input #colorFilter class="form-control" type="text" placeholder="Colour" (keyup)="applyFilter(colorFilter.value, sizeFilter.value)"></th>
            <th><input #sizeFilter class="form-control" type="text" placeholder="Size" (keyup)="applyFilter(colorFilter.value, sizeFilter.value)"></th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let shirt of filteredShirts" (click)="navigateToShirt(shirt)">
            <th><img [src]="shirt.picture" class="rounded"></th>
            <th>{{ shirt.name }}</th>
            <td>{{ shirt.colour }}</td>
            <td>{{ shirt.size }}</td>
            <td>DKK {{ shirt.price }} -.</td>
        </tr>
    </tbody>
</table>
